* {
  box-sizing: border-box;
}
.boxStart{
  position: relative;
  height:200px;
  width:200px;
  border: 1px solid red;
  background-color: black;
}

.btn{
  font-size: 2em;
  width:50%;
  display: block;
  padding:20px;
  margin: auto;
}

.agent{
  z-index: 1;
  position: absolute;
}

.escape{
  z-index: 1;
  position: absolute;
}

.dot{
  position: absolute;
  left: 35%;
  top:35%;
  width: 25%;
  height: 25%;
  background-color: white;
  border-radius: 50%;
}
.superdot{
  position: absolute;
  left: 25%;
  top:25%;
  width: 50%;
  height: 50%;
  background-color: goldenrod;
  border-radius: 50%;
}

.wall{
  background-color: black;
  width: 100%;
  height:100%;
}
.hideout {
  background-color: white;
  width: 50%;
  height:50%; 
}
.grid{
  margin: auto;
  padding-top: 4px;
  justify-content: center;
  display: grid;
  cursor: grab;
  background-color: white;
  overflow: hidden;
}
.box{
  font-size: 3rem;
  text-align: center;
  position: relative;
}

.scoreBoard{
  background-color: black;
  text-align: center;
  font-size: 2em;
  color:white;
  padding: 20px;
}